body {
    font-family: 'Titillium Web', sans-serif;
}

h1 {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 100px;

}

header {
    position: relative;
}

header img {
    width: 65px;
    margin-left: 15px;
    position: absolute;
    top: 50px;
    left: 400px;
}