* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Titillium Web', sans-serif;
}

.align {
    max-width: 68.75rem;
    margin: auto;
}

header {
    width: 100vw;
    height: 9.375rem;
    position: relative;
    background-image: url(assets/f1\ logo\ bg.png);
    background-repeat: no-repeat;
    background-position: left;
    background-color: #15151f;
}

h1 {
    color: whitesmoke;
    font-size: 4.375rem;
    position: absolute;
    top: 1rem;
    left: 15rem;
}

#team-logos {
    width: 15rem;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(-50%, -50%);
}

/* --------------------------- */

h2 {
    font-size: 2.5rem;
    margin-top: 1rem;
}

#subtitle,
#data {
    color: gray;
    display: block;
    /* padding-left: 1.25rem; */

}

#data {
    margin-bottom: 1rem;
}

/* --------------------------- */

figure {
    margin-bottom: 1rem;
}

mark {
    background-color: #15151f;
    color: #ffffff;
    border-radius: 0.3rem 0.1rem;
}

figure img {
    width: 70rem;
}

.content-sect {
    margin-top: 2.5rem;
}

p {
    font-size: 1.3rem;
    padding: 0.5rem 0;
    text-align: justify;
    text-justify: auto;
}

.max {
    color: #00174C;
}

.lewis {
    color: #027373;
}

/* ------------------------------ 

    TABLE

-------------------------------*/

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9rem;
    margin-top: 4rem;
}

thead {
    background-color: #f2f2f2;
}

thead th {
    border-bottom: 2px solid #000;
    padding: 10px;
    text-align: left;
}

tbody td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

tbody tr:last-child td {
    border-bottom: none;
}

tbody tr.nc td {
    color: #646464;
}

td.dnf {
    color: red;
}

/* ------------------------------ 

    end TABLE

-------------------------------*/

h3 {
    margin: 4rem 0 2rem 0;

}

.suggested {
    width: 45rem;
    height: 22rem;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 2rem;
    box-shadow: 6px 8px #15151f60;
    font-size: 3rem;
    font-weight: bold;
    color: #15151f;
    text-decoration: underline;
    text-shadow: .125rem .125rem #FF004C;
    padding: 0.5rem;
    cursor: pointer;
}

.suggested:hover {
    font-size: 3.5rem;
    transition: 0.4s;
}

.sugg-1 {
    background-image: url(assets/image_rand.png);
}

.sugg-2 {
    background-image: url(assets/podium.jpg);
}