* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Titillium Web', sans-serif;
}

header {
    width: 100vw;
    height: 150px;
    position: relative;
    background-image: url(assets/f1\ logo\ bg.png);
    background-repeat: no-repeat;
    background-position: left;
    background-color: #15151f;
}

h1 {
    color: whitesmoke;
    font-size: 70px;
    position: absolute;
    top: 1rem;
    left: 15rem;
}